ul {
  position: absolute;
  top: 328px;
  bottom: -516px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  margin: 0;
  padding: 0;
    
  border: 2px solid #ccc;
    
  font-size: 16px;
  font-family: Arial, sans-serif;
    
  // Again, this is where the magic happens
  -webkit-overflow-scrolling: touch;
}